<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.hr.mapper.HrEmpSalaryMapper">
    
    <resultMap type="HrEmpSalary" id="HrEmpSalaryResult">
        <result property="id"    column="id"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="salaryId"    column="salary_id"    />
    </resultMap>

    <resultMap id="HrEmpSalaryHrEmployeeResult" type="HrEmpSalary" extends="HrEmpSalaryResult">
        <collection property="hrEmployeeList" notNullColumn="sub_employee_id" javaType="java.util.List" resultMap="HrEmployeeResult" />
    </resultMap>

    <resultMap type="HrEmployee" id="HrEmployeeResult">
        <result property="employeeId"    column="sub_employee_id"    />
        <result property="name"    column="sub_name"    />
        <result property="gender"    column="sub_gender"    />
        <result property="birthday"    column="sub_birthday"    />
        <result property="idCard"    column="sub_id_card"    />
        <result property="wedlock"    column="sub_wedlock"    />
        <result property="nation"    column="sub_nation"    />
        <result property="nativePlace"    column="sub_native_place"    />
        <result property="politic"    column="sub_politic"    />
        <result property="email"    column="sub_email"    />
        <result property="phone"    column="sub_phone"    />
        <result property="address"    column="sub_address"    />
        <result property="deptId"    column="sub_dept_id"    />
        <result property="jobLevelId"    column="sub_job_level_id"    />
        <result property="postId"    column="sub_post_id"    />
        <result property="engageForm"    column="sub_engage_form"    />
        <result property="tiptopDegree"    column="sub_tiptop_degree"    />
        <result property="specialty"    column="sub_specialty"    />
        <result property="school"    column="sub_school"    />
        <result property="beginDate"    column="sub_begin_date"    />
        <result property="workState"    column="sub_work_state"    />
        <result property="workId"    column="sub_work_id"    />
        <result property="contractTerm"    column="sub_contract_term"    />
        <result property="conversionTime"    column="sub_conversion_time"    />
        <result property="notWorkDate"    column="sub_not_work_date"    />
        <result property="beginContract"    column="sub_begin_contract"    />
        <result property="endContract"    column="sub_end_contract"    />
        <result property="workAge"    column="sub_work_age"    />
    </resultMap>

    <sql id="selectHrEmpSalaryVo">
        select id, employee_id, salary_id from hr_emp_salary
    </sql>

    <select id="selectHrEmpSalaryList" parameterType="HrEmpSalary" resultMap="HrEmpSalaryResult">
        <include refid="selectHrEmpSalaryVo"/>
        <where>  
            <if test="employeeId != null "> and employee_id = #{employeeId}</if>
            <if test="salaryId != null "> and salary_id = #{salaryId}</if>
        </where>
    </select>
    
    <select id="selectHrEmpSalaryById" parameterType="Long" resultMap="HrEmpSalaryHrEmployeeResult">
        select a.id, a.employee_id, a.salary_id,
 b.employee_id as sub_employee_id, b.name as sub_name, b.gender as sub_gender, b.birthday as sub_birthday, b.id_card as sub_id_card, b.wedlock as sub_wedlock, b.nation as sub_nation, b.native_place as sub_native_place, b.politic as sub_politic, b.email as sub_email, b.phone as sub_phone, b.address as sub_address, b.dept_id as sub_dept_id, b.job_level_id as sub_job_level_id, b.post_id as sub_post_id, b.engage_form as sub_engage_form, b.tiptop_degree as sub_tiptop_degree, b.specialty as sub_specialty, b.school as sub_school, b.begin_date as sub_begin_date, b.work_state as sub_work_state, b.work_id as sub_work_id, b.contract_term as sub_contract_term, b.conversion_time as sub_conversion_time, b.not_work_date as sub_not_work_date, b.begin_contract as sub_begin_contract, b.end_contract as sub_end_contract, b.work_age as sub_work_age
        from hr_emp_salary a
        left join hr_employee b on b.employee_id = a.id
        where a.id = #{id}
    </select>
        
    <insert id="insertHrEmpSalary" parameterType="HrEmpSalary" useGeneratedKeys="true" keyProperty="id">
        insert into hr_emp_salary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="employeeId != null">employee_id,</if>
            <if test="salaryId != null">salary_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="employeeId != null">#{employeeId},</if>
            <if test="salaryId != null">#{salaryId},</if>
         </trim>
    </insert>

    <update id="updateHrEmpSalary" parameterType="HrEmpSalary">
        update hr_emp_salary
        <trim prefix="SET" suffixOverrides=",">
            <if test="employeeId != null">employee_id = #{employeeId},</if>
            <if test="salaryId != null">salary_id = #{salaryId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHrEmpSalaryById" parameterType="Long">
        delete from hr_emp_salary where id = #{id}
    </delete>

    <delete id="deleteHrEmpSalaryByIds" parameterType="String">
        delete from hr_emp_salary where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteHrEmployeeByEmployeeIds" parameterType="String">
        delete from hr_employee where employee_id in 
        <foreach item="employeeId" collection="array" open="(" separator="," close=")">
            #{employeeId}
        </foreach>
    </delete>

    <delete id="deleteHrEmployeeByEmployeeId" parameterType="Long">
        delete from hr_employee where employee_id = #{employeeId}
    </delete>

    <insert id="batchHrEmployee">
        insert into hr_employee( employee_id, name, gender, birthday, id_card, wedlock, nation, native_place, politic, email, phone, address, dept_id, job_level_id, post_id, engage_form, tiptop_degree, specialty, school, begin_date, work_state, work_id, contract_term, conversion_time, not_work_date, begin_contract, end_contract, work_age) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.employeeId}, #{item.name}, #{item.gender}, #{item.birthday}, #{item.idCard}, #{item.wedlock}, #{item.nation}, #{item.nativePlace}, #{item.politic}, #{item.email}, #{item.phone}, #{item.address}, #{item.deptId}, #{item.jobLevelId}, #{item.postId}, #{item.engageForm}, #{item.tiptopDegree}, #{item.specialty}, #{item.school}, #{item.beginDate}, #{item.workState}, #{item.workId}, #{item.contractTerm}, #{item.conversionTime}, #{item.notWorkDate}, #{item.beginContract}, #{item.endContract}, #{item.workAge})
        </foreach>
    </insert>
</mapper>