<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diandian.hr.mapper.HrEmployeeecMapper">
    
    <resultMap type="HrEmployeeec" id="HrEmployeeecResult">
        <result property="employeeecId"    column="employeeec_id"    />
        <result property="employeeId"    column="employee_id"    />
        <result property="ecDate"    column="ec_date"    />
        <result property="ecReason"    column="ec_reason"    />
        <result property="generalType"    column="general_type"    />
        <result property="ecType"    column="ec_type"    />
        <result property="remark"    column="remark"    />
        <result property="employeeName"    column="name"    />
        <result property="ecNum"    column="ec_num"    />
    </resultMap>

    <sql id="selectHrEmployeeecVo">
        select c.employeeec_id, c.employee_id, c.ec_date, c.ec_reason, c.general_type, c.ec_type, c.remark,c.ec_num,
        e.name
        from hr_employeeec c
        left join  hr_employee e on c.employee_id = e.employee_id
    </sql>

    <select id="selectHrEmployeeecList" parameterType="HrEmployeeec" resultMap="HrEmployeeecResult">
        <include refid="selectHrEmployeeecVo"/>
        <where>
            <if test="employeeName != null  and employeeName != ''"> and e.name like concat('%', #{employeeName}, '%')</if>
            <if test="employeeId != null "> and c.employee_id = #{employeeId}</if>
            <if test="ecDate != null "> and c.ec_date = #{ecDate}</if>
            <if test="ecReason != null  and ecReason != ''"> and c.ec_reason = #{ecReason}</if>
            <if test="generalType != null "> and c.general_type = #{generalType}</if>
            <if test="ecType != null "> and c.ec_type = #{ecType}</if>
        </where>
    </select>
    
    <select id="selectHrEmployeeecByEmployeeecId" parameterType="Long" resultMap="HrEmployeeecResult">
        <include refid="selectHrEmployeeecVo"/>
        where c.employeeec_id = #{employeeecId}
    </select>
        
    <insert id="insertHrEmployeeec" parameterType="HrEmployeeec" useGeneratedKeys="true" keyProperty="employeeecId">
        insert into hr_employeeec
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="employeeId != null">employee_id,</if>
            <if test="ecDate != null">ec_date,</if>
            <if test="ecReason != null">ec_reason,</if>
            <if test="generalType != null">general_type,</if>
            <if test="ecType != null">ec_type,</if>
            <if test="remark != null">remark,</if>
            <if test="ecNum != null">ec_num,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="employeeId != null">#{employeeId},</if>
            <if test="ecDate != null">#{ecDate},</if>
            <if test="ecReason != null">#{ecReason},</if>
            <if test="generalType != null">#{generalType},</if>
            <if test="ecType != null">#{ecType},</if>
            <if test="remark != null">#{remark},</if>
            <if test="ecNum != null">#{ecNum},</if>
         </trim>
    </insert>

    <update id="updateHrEmployeeec" parameterType="HrEmployeeec">
        update hr_employeeec
        <trim prefix="SET" suffixOverrides=",">
            <if test="employeeId != null">employee_id = #{employeeId},</if>
            <if test="ecDate != null">ec_date = #{ecDate},</if>
            <if test="ecReason != null">ec_reason = #{ecReason},</if>
            <if test="generalType != null">general_type = #{generalType},</if>
            <if test="ecType != null">ec_type = #{ecType},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="ecNum != null">ec_num = #{ecNum},</if>
        </trim>
        where employeeec_id = #{employeeecId}
    </update>

    <delete id="deleteHrEmployeeecByEmployeeecId" parameterType="Long">
        delete from hr_employeeec where employeeec_id = #{employeeecId}
    </delete>

    <delete id="deleteHrEmployeeecByEmployeeecIds" parameterType="String">
        delete from hr_employeeec where employeeec_id in 
        <foreach item="employeeecId" collection="array" open="(" separator="," close=")">
            #{employeeecId}
        </foreach>
    </delete>
</mapper>