<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diandian.hr.mapper.HrWorkTimeMapper">
    
    <resultMap type="HrWorkTime" id="HrWorkTimeResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="morStartTime"    column="mor_start_time"    />
        <result property="morEndTime"    column="mor_end_time"    />
        <result property="aftStartTime"    column="aft_start_time"    />
        <result property="aftEndTime"    column="aft_end_time"    />
        <result property="totalWorkTime"    column="total_work_time"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <association property="dept"    column="dept_id" javaType="SysDept" resultMap="deptResult" />
    </resultMap>

    <resultMap id="deptResult" type="SysDept">
        <id     property="deptId"    column="dept_id"     />
        <result property="parentId"  column="parent_id"   />
        <result property="deptName"  column="dept_name"   />
        <result property="ancestors" column="ancestors"   />
        <result property="orderNum"  column="order_num"   />
        <result property="leader"    column="leader"      />
        <result property="status"    column="dept_status" />
    </resultMap>



    <sql id="selectHrWorkTimeVo">
        select w.id, w.dept_id, w.mor_start_time, w.mor_end_time, w.aft_start_time, w.aft_end_time, w.total_work_time,w.remark, w.create_time, w.update_time,
        w.status,d.dept_id, d.parent_id, d.ancestors, d.dept_name, d.order_num, d.leader, d.status as dept_status
        from hr_work_time w
        left join sys_dept d on w.dept_id = d.dept_id
    </sql>

    <select id="selectHrWorkTimeList" parameterType="HrWorkTime" resultMap="HrWorkTimeResult">
        <include refid="selectHrWorkTimeVo"/>
        <where>
            <if test="deptId != null and deptId != 0">
                AND (w.dept_id = #{deptId} OR w.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE find_in_set(#{deptId}, ancestors) ))
            </if>
            <if test="morStartTime != null "> and mor_start_time = #{morStartTime}</if>
            <if test="morEndTime != null "> and mor_end_time = #{morEndTime}</if>
            <if test="aftStartTime != null "> and aft_start_time = #{aftStartTime}</if>
            <if test="aftEndTime != null "> and aft_end_time = #{aftEndTime}</if>
            <if test="totalWorkTime != null "> and total_work_time = #{totalWorkTime}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectHrWorkTimeById" parameterType="Long" resultMap="HrWorkTimeResult">
        <include refid="selectHrWorkTimeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHrWorkTime" parameterType="HrWorkTime" useGeneratedKeys="true" keyProperty="id">
        insert into hr_work_time
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">dept_id,</if>
            <if test="morStartTime != null">mor_start_time,</if>
            <if test="morEndTime != null">mor_end_time,</if>
            <if test="aftStartTime != null">aft_start_time,</if>
            <if test="aftEndTime != null">aft_end_time,</if>
            <if test="totalWorkTime != null">total_work_time,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId},</if>
            <if test="morStartTime != null">#{morStartTime},</if>
            <if test="morEndTime != null">#{morEndTime},</if>
            <if test="aftStartTime != null">#{aftStartTime},</if>
            <if test="aftEndTime != null">#{aftEndTime},</if>
            <if test="totalWorkTime != null">#{totalWorkTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateHrWorkTime" parameterType="HrWorkTime">
        update hr_work_time
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="morStartTime != null">mor_start_time = #{morStartTime},</if>
            <if test="morEndTime != null">mor_end_time = #{morEndTime},</if>
            <if test="aftStartTime != null">aft_start_time = #{aftStartTime},</if>
            <if test="aftEndTime != null">aft_end_time = #{aftEndTime},</if>
            <if test="totalWorkTime != null">total_work_time = #{totalWorkTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHrWorkTimeById" parameterType="Long">
        delete from hr_work_time where id = #{id}
    </delete>

    <delete id="deleteHrWorkTimeByIds" parameterType="String">
        delete from hr_work_time where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>